td {
  font-weight: 500;
  color: 1px solid black;
}

.table-bord td,
.table-bord th {
  border: 2px solid black;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid black;
}

.card-header {
  border-bottom: 2px solid black;
}
